.hero-text-container{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, 0%);
  bottom: 0px;
}

.big-title{
  position:relative;
  height: 110px;
  width: 290px;
  margin:0;
  text-align: center;
}

.medium-title{
  margin-top: 10px;
  margin-bottom:0px;
  text-align: center;
  position: relative;
  height: 21px;
}
