.font-big-title {
  color: $font-color-1;
  font-size: $font-size-gig;
  font-family: $font-family-2;
  text-transform: uppercase;
}

.font-subtitle {
  color: $font-color-1;
  font-size: $font-size-peq;
  font-family: $font-family-1;
}

.font-blue {
  color: $font-color-2;
  font-size: $font-size-minim;
  font-family: $font-family-1;
}

.font-medium-title {
  color: $font-color-3;
  font-size: $font-size-xl;
  font-family: $font-family-2;
}

.font-paragraph-alone {
  color: $font-color-4;
  font-size: $font-size-med;
  font-family: $font-family-1;
}

.font-small-title {
  color: $font-color-3;
  font-size: $font-size-med;
  font-family: $font-family-2;
  font-weight: 700;
}

.font-paragraph {
  color: $font-color-3;
  font-size: $font-size-med;
  font-family: $font-family-1;
}

.font-footer-paragraph {
  color: $font-color-1;
  font-size: $font-size-minim;
  font-family: $font-family-1;
}
