* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
}

.header_bg {
  margin: 0;
  width: 100%;
  background-image: url("../images/cover.jpg");
  position: relative;
  background-position: center top;
  height: 568px;
  background-size: cover;
}

.container-footer {
  position: relative;
  background-color: #304268;
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.footer-line-1 {
  margin-top: 38px;
  margin-bottom: 0px;
  display: inline-block;
  padding: 7px;
}

.footer-line-2 {
  margin-top: 0px;
  margin-bottom: 30px;
  display: inline-block;
  padding: 7px;
}

.section-2 {
  padding: 15px;
  height: 624px;
  background-color: #eff9ff;
}

.reasons-title {
  margin: 15px auto 22.5px;
  text-align: center;
}

.container-all-reasons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.container-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 22.5px;
}

.small-title-reason {
  margin: 0px;
  padding: 3px;
}

.paragraph {
  text-align: center;
  width: 180px;
  height: 63px;
  margin: 0;
}

.boton-hamburguesa {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  background-image: url(../images/ico-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  position: fixed;
  z-index: 1;
  margin-top: 0%;
  margin-left: 0%;
}

.boton-bajar {
  height: 45px;
  width: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 75.5px;
}

.flecha-abajo {
  position: absolute;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 11.7px;
}

.boton-go {
  display: inline-block;
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: background-color ease 1s, -webkit-transform ease 1s;
  transition: background-color ease 1s, -webkit-transform ease 1s;
  transition: background-color ease 1s, transform ease 1s;
  transition: background-color ease 1s, transform ease 1s, -webkit-transform ease 1s;
}

.boton-go:hover {
  background-color: #f26002;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.enlace-boton {
  text-decoration: none;
  color: #f26002;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 15px;
  -webkit-transition: color ease 1s;
  transition: color ease 1s;
}

.enlace-boton:hover {
  color: #ffffff;
}

.boton-more-reasons {
  display: inline-block;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  position: relative;
  margin: auto;
  -webkit-transition: background-color ease 1s, -webkit-transform ease 1s;
  transition: background-color ease 1s, -webkit-transform ease 1s;
  transition: background-color ease 1s, transform ease 1s;
  transition: background-color ease 1s, transform ease 1s, -webkit-transform ease 1s;
}

.boton-more-reasons:hover {
  background-color: #ffffff;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border: 0.5px solid #f26002;
}

.enlace-boton-naranja {
  text-decoration: none;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 180px;
  text-align: center;
  padding: 15px;
  -webkit-transition: color ease 1s;
  transition: color ease 1s;
}

.enlace-boton-naranja:hover {
  color: #f26002;
}

.boton-subir {
  height: 45px;
  width: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  bottom: 85px;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px rgba(255, 255, 255, 0.44);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px rgba(255, 255, 255, 0.44);
  z-index: 2;
}

.flecha-arriba {
  position: absolute;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20.6px;
  height: 24px;
}

.hero-text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  bottom: 0px;
}

.big-title {
  position: relative;
  height: 110px;
  width: 290px;
  margin: 0;
  text-align: center;
}

.medium-title {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  position: relative;
  height: 21px;
}

.font-big-title {
  color: #ffffff;
  font-size: 42px;
  font-family: "Roboto Slab", serif;
}

.font-subtitle {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.font-blue {
  color: #8ccbea;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.font-medium-title {
  color: #000000;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
}

.font-paragraph-alone {
  color: #4a4a4a;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.font-small-title {
  color: #000000;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.font-paragraph {
  color: #000000;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.font-footer-paragraph {
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.section-1 {
  height: 376px;
}

.container-1 {
  padding: 15px;
}

.tip {
  margin-top: 15px;
}

.small-title {
  width: 290px;
  margin: 1;
}

.paragraph-alone {
  margin: 15px 0px;
}

@media all and (min-width: 768px) {
  .header_bg {
    height: 768px;
  }

  .section-2 {
    height: 397px;
    padding: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-2 {
    height: 427px;
    padding: 60px 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .reasons-title {
    margin-top: 0px;
    margin-bottom: 45px;
    height: 45px;
    font-size: 26px;
  }

  .container-all-reasons {
    display: grid;
    grid-template-columns: 278px 210px 280px;
    grid-template-rows: 112px 165px;
    grid-template-areas: "col1 col2 col3" "col4 col5 col6";
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .container-reason {
    margin: 0px;
  }

  .small-title-reason {
    font-size: 24px;
  }

  .paragraph {
    font-size: 20px;
    height: 110px;
  }

  .boton-go {
    width: 91px;
    margin-bottom: 21px;
  }

  .boton-more-reasons {
    grid-area: col5;
    width: 210px;
  }

  .enlace-boton-naranja {
    font-size: 20px;
  }

  .big-title {
    height: 212px;
    width: 690px;
    font-size: 80px;
  }

  .medium-title {
    height: 32px;
    width: 360px;
    font-size: 24px;
    margin: auto;
  }

  .section-1 {
    height: 330px;
  }

  .container-1 {
    padding: 30px 39px;
    height: 100%;
  }

  .tip {
    margin-top: 30px;
  }

  .small-title {
    font-size: 26px;
    width: 690px;
    height: 45px;
  }

  .paragraph-alone {
    font-size: 20px;
    width: 690px;
    height: 60px;
    margin: 30px 0px;
  }
}

@media all and (min-width: 1280px) {
  .reasons-title {
    font-size: 32px;
  }

  .container-all-reasons {
    display: grid;
    grid-template-columns: 360px 360px 360px;
  }

  .boton-bajar {
    top: 40px;
  }

  .boton-more-reasons {
    grid-area: col5;
    width: 255px;
  }

  .big-title {
    height: 264px;
    width: 730px;
    font-size: 100px;
  }

  .section-1 {
    height: 360px;
  }

  .container-1 {
    padding: 60px 265px;
  }

  .tip {
    margin-top: 0px;
    font-size: 16px;
  }

  .small-title {
    margin-top: 0px;
    font-size: 32px;
  }
}

/*# sourceMappingURL=main.css.map */
